*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
proguard-rules.pro
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/build/
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
app/libs/
countriesflagskit/libs/
app/release/
photoview/build/
/gradle.properties
/fabric.properties

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/
/fabric.properties
